<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성  -->
<mapper namespace="com.board.mapper.BoardMapper">


<select id="login" resultType="com.board.vo.MemberVo">

	select * from member_ex 
	where id = #{id} and pw = #{pw}
	  
</select>

<select id="getList" resultType="com.board.vo.BoardVo">
	
	select * from board_ex

</select>

<insert id="insert" >
	insert into board_ex (bno, title, content, writer, regdate, updatedate)
	 values (seq_bno.nextval, #{title}, #{content}, #{writer},sysdate, sysdate)
</insert>

</mapper>