<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성  -->
<mapper namespace="com.momo.mapper.MemberMapper">

	<select id="login" resultType="com.momo.vo.Member">
	
	select * from member 
	where id = #{id}
	
</select>

<insert id ="insert">
	insert into member (id,pw,name)
		values(#{id}, #{pw}, #{name})
</insert>


<select id="idCheck" resultType="int">
	
	select count(*)
	from member
	where id=#{id}

</select>

<select id="getMemberRole" resultType="String">
	select role_id from memberrole where id = #{id}
</select>

</mapper>