<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성  -->
<mapper namespace="com.momo.mapper.ReplyMapper">

<select id="NewGetList" resultType="com.momo.vo.ReplyVo">

	select *
		from(
			select t.*, rownum rn
				from (
					select rno, bno, reply, replyer, to_char(replyDate,'yyyy-MM-dd') replyDate 
					,updateDate
				from tbl_reply
				where bno = #{bno}
			order by rno desc
		) t
	)
	where rn between #{cri.startNo} and #{cri.endNo}

</select>


<select id="getList" resultType="com.momo.vo.ReplyVo">

	select rno, bno, reply, replyer, to_char(replyDate,'yyyy-MM-dd') replyDate 
		,updateDate
	from tbl_reply
	where bno = #{bno}
	order by rno desc

</select>

 <insert id="insert">
 
    insert into tbl_reply (rno, bno, reply, replyer, replydate)
    values (seq_reply.nextval, #{bno}, #{reply}, #{replyer}, sysdate)
 
  </insert>
  
  <delete id="delete">
  
  	delete tbl_reply
		where rno = #{rno}
  
  </delete>
  
  <update id="update">
  
  	update tbl_reply
		set reply = #{reply}
		,updatedate = sysdate
			where rno = #{rno}
  
  </update>
  
  <select id="totalCnt" resultType="int">
  
  		select count(*) 
  		from tbl_reply
  		where bno=#{bno}
  
  </select>
  
  <select id="getOne" resultType="com.momo.vo.ReplyVo">
  		select * from tbl_reply where rno = #{rno}
  </select>


</mapper>