<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성  -->
<mapper namespace="com.recipe.mapper.ReplyMapper">


<select id="getRecipeReply" resultType="com.recipe.vo.RecipeReplyVo">
			
			select *
			from rec_reply
			where bno = #{bno}
			order by r_no
		
	</select>

<insert id="replyWrite">
 
    insert into rec_reply (r_no, REPLYDATE, reply, BNO, WRITER, STAR)
    	values (SEQ_REPLY.nextval, sysdate,  #{reply}, #{bno}, #{writer}, 3)
 
  </insert>

</mapper>